<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/123.jpg" alt="thapa" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my world</p>
                        <h1>I am Divay Nagar currently in 3rd year pursuing Btech in Computer Engineering from NSUT , Delhi. My Hobbies are Problem Solving , Web Dev , Chess and Cricket</h1>
                       
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by Divay Nagar
        </p>
    </footer>
</body>

</html>